	<!DOCTYPE html>
	<html>
	<head>
		<title>AppDev Premier League</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<!-- <script src="js/lib/bootstrap.min.js"></script> -->
	    <script type="text/javascript" src="js/lib/underscore-min.js"></script>
		
	</head>
	<body ng-app="apl" class="container" ng-controller="AplController">
		<div class="navbar navbar-inverse  bs-docs-nav ribbon">
			<img src="images/apl_logo.png" class="logoleft" />
			<img src="images/apl_logo.png" class="logoright" />
			<div class="logoHeader fanimal">
				APPDEV PREMIERE LEAGUE
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="well" style="display:inline-block">
					<div class="panel panel-primary">
						<!-- Default panel contents -->
						<div class="panel-heading">Players Pools</div>
						<!-- List group -->
						<ul class="list-group">
							<li class="list-group-item list1" ng-repeat="player in players|filter:{sold:false}"  ng-animate="'animate'" >	{{player.name}}
							</li>
						</ul>
					</div>
				</div>
				<div class="well team">
					<div class="panel panel-primary teamA">
						<!-- Default panel contents -->
						<div class="panel-heading">Strikers&nbsp;&nbspPlayers - <strong>{{teamA.playersBought}}</strong>
						<!--	<span class="badge">2/11</span>
							<span class="badge ">Points Remaining : {{pointsLeftTeamA}}/2500</span>-->
						</div>
						<!-- List group -->
						<ul class="list-group">
							<li class="list-group-item" ng-click="removePlayer(player)" ng-repeat="player in players | orderBy:'cost':true" ng-if="player.team == 'teamA'">{{player.name}}<span class="badge">{{player.cost >= 100 ? player.cost : '$$'}}</span></li>
						</ul>
					</div>
				</div>

			</div>
			<div class="col-md-6">
				<div class="well">
					<div class="control">
						<!--<button class="btn btn-success btn-lg btn100" ng-click="getRandomPlayer()">Get Player</button>-->
						<div class="row" style="margin-top:10px">
							<div class="col-md-3">
								<img src="{{currentPlayer.image || 'images/team/sachin.jpg'}}" alt="..." class="img-circle playerImage">
							</div>
							<div class="col-md-9">
                                <div>
                                    <h1>
                                        {{currentPlayer.name || 'Get Ready for the Next Player'}}
                                    </h1>
                                    <blockquote ng-if="currentPlayer.description">{{currentPlayer.description}}</blockquote>
                                </div>
						    </div>
					</div>
					<br><br>
					<div class="row">
						   <div class="col-md-2">
						    <button class="btn btn-lg btn-primary btn100" ng-click="getRandomPlayer()">
						    	<span class="glyphicon glyphicon-refresh"></span>
						    </button>
						  </div>
						  <div class="col-md-3">

						  </div>
						  <div class="col-md-7">
						    <div class="input-group">
                                <span class="input-group-btn">
						            <button class="btn btn-lg btn-success" type="button" ng-click="addToTeam(playerCost, 'teamA')">Strikers</button>
						        </span>
                                <select class="form-control input-lg" ng-model="playerCost">
                                    <option>100</option>
                                    <option>150</option>
                                    <option>200</option>
                                    <option>250</option>
                                    <option>300</option>
                                    <option>350</option>
                                    <option>400</option>
                                </select>
						        <span class="input-group-btn">
                                    <button class="btn btn-lg btn-success" type="button" ng-click="addToTeam(playerCost, 'teamB')">Hotshots</button>
                                </span>
						    </div><!-- /input-group -->
						  </div><!-- /.col-lg-6 -->
					</div>
				    <div class="row">
				<!--	<button class="btn btn-success btn-lg btn50" ng-click="addToTeam(teamAPlayerCost, 'teamA')">Team A</button>
					<button class="btn btn-success btn-lg btn50" ng-click="addToTeam(teamBPlayerCost, 'teamB')">Team B</button>-->
					</div>
				</div>
			</div>
			<div class="fanimal">
				<div class="points-box well">	
					
					<div class="points-heading"><img src="images/strikers-final.png"  width="150px" height="150px"/>			Strikers</div>
					<div class="points-left">{{maxPoints - teamA.currentCost}}</div>
				</div>
				<div class="points-box well">
					<div class="points-heading"><img src="images/hotspot-final.png"  width="150px" height="150px"/>			Hotshots</div>
					<div class="points-left">{{maxPoints - teamB.currentCost}}</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well" style="display:inline-block">
				<div class="panel panel-primary">
					<!-- Default panel contents -->
					<div class="panel-heading">Players Pools</div>
					<!-- List group -->
					<ul class="list-group">
						<li class="list-group-item list2" ng-repeat="player in players|filter:{sold:false}" ng-animate="'animate'" >	{{player.name}}
						</li>
					</ul>
				</div>
			</div>
            <div class="well team">
					<div class="panel panel-primary teamA">
						<!-- Default panel contents -->
						<div class="panel-heading">Hotshots&nbsp;&nbsp;Players - <strong>{{teamB.playersBought}}</strong>
						<!--	<span class="badge">2/11</span>
							<span class="badge ">Points Remaining : {{pointsLeftTeamB}}/2500</span>-->
						</div>
						<!-- List group -->
						<ul class="list-group">
							<li class="list-group-item" ng-click="removePlayer(player)" ng-repeat="player in players| orderBy:'cost':true" ng-if="player.team == 'teamB'">{{player.name}}<span class="badge">{{player.cost >= 100 ? player.cost : '$$'}}</span></li>
						</ul>
					</div>
				</div>

		</div>
	</div>
	<hr />
		<script src="js/lib/angular.js"></script>

		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/playerService.js"></script>
		<script src="js/data.js"></script>
		<link rel="stylesheet" href="css/main.css">

	</body>
	</html>