<!DOCTYPE html>
<html>
<head>
    <title>Xebia Premier League</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/grid.css">

    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="js/lib/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="js/lib/underscore-min.js"></script>

</head>
<body ng-app="apl" class="container" ng-controller="AplController">
<div class="navbar navbar-inverse  bs-docs-nav ribbon">
    <img src="images/apl_logo.png" class="logoleft"/>
    <img src="images/apl_logo.png" class="logoright"/>
    <div class="logoHeader fanimal">
        XEBIA PREMIERE LEAGUE
    </div>
</div>

<div class="row">
    <div class="col-lg-2">
        <md-button ng-click="playerSelectionDialog($event)">
            Bid for players
        </md-button>
    </div>
    <div class="col-lg-2">

        <md-button ng-click="showCustom($event)">
            Players overview
        </md-button>
    </div>
    <div class="col-lg-10">
    </div>
</div>


<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column" ng-repeat="team in teams">
        <md-card>
            <img ng-src="images/{{team.name}}.png" class="md-card-image" alt="{{team.name}}">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Remaining Points <span class="badge bg-primary">{{maxPoints-team.currentCost}}</span></span>
                    <span class="md-headline">Players <span
                            class="badge bg-success">{{team.playersBought}}</span></span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <md-list flex>
                    <md-subheader class="md-no-sticky">Squad</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="player in players | orderBy:'cost':true"
                                  ng-if="player.team == team.name" ng-click="removePlayer(player)">
                        <img ng-src="{{player.image}}?{{$index}}" class="md-avatar" alt="{{player.name}}"/>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ player.name }} ({{player.cost >= 100 ? player.cost : '$$'}}) </h3>
                            <p>{{ player.description }}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</md-content>
<hr/>
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-aria/angular-aria.min.js"></script>
<script src="node_modules/angular-animate/angular-animate.min.js"></script>
<script src="node_modules/angular-material/angular-material.min.js"></script>

<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/chunkFilter.js"></script>
<script src="js/playerService.js"></script>
<script src="js/teamService.js"></script>
<script src="js/data.js"></script>
<link rel="stylesheet" href="css/main.css">

</body>
</html>
